.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1 ;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}
.boton-contenedor:hover{
    background-color: rgb(93, 27, 27);
}


.operador{
    background-color: green;
}

.operador:hover{
    background-color: rgb(11, 11, 74);
}
