.App{
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  background-color: black;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.contenedor{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  height: 200px;
}

.calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgb(178, 212, 212);
  border-radius: 20px;

}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}